.card {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(158,170,178,0.2);
  background-clip: padding-box;
  text-align: center;
  color: #2d2d2d;
  background: #ffffff;
  padding: 24px;
}
