@import "../../styles/colors";

.detailsMain {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  justify-content: center;
  padding-top: 32px;
}

.detailsTitle {
  display: flex;
  margin-top: 0;
}

.detailsDescription {
  margin-left: 24px;
  max-width: 350px;
}

.detailsImage {
  width: auto;
  height: 300px;
  border-radius: 4px;
}

.detailsInfo {
  display: flex;
  flex-flow: column;
  text-align: start;
  margin-top: 52px;

  ul {
    line-height: 1.7;
  }
}

.checkoutWrapper {
  display: flex;
  justify-content: flex-end;
}

.button {
  height: 30px;
  width: 150px;
  margin-top: 40px;
  background-color: $color-button-primary;

  &:hover {
    background-color: $color-button-primary-hover;
  }
}
