
$midnight-black: #191f26;
$alabaster: #f7f7f7;
$curious-blue: #158fcb;
$shark: #272C33;
$rolling-stone: #758189;
$picton-blue: #21acef;
$white-lilac: #f6fafc;
$white: #fff;

$color-header-background: $midnight-black;
$color-header-background-alt: $shark;
$color-header-text: lighten($color: $rolling-stone, $amount: 10%);

$color-background-main: $alabaster;

$color-link-text: $picton-blue
