
$midnight-black: #191f26;
$alabaster: #f7f7f7;
$curious-blue: #158fcb;
$shark: #272C33;
$rolling-stone: #758189;
$picton-blue: #21acef;
$white: #fff;
$thunderbird: #de3617;
$night-rider: #7a868e59;
$dove-gray: #737171;
$hit-gray: #9eaab2;
$iron: #cfd5d9;

$color-header-background: $midnight-black;
$color-header-background-alt: $shark;
$color-header-border: lighten($color: $night-rider, $amount: 2%);
$color-header-text: lighten($color: $rolling-stone, $amount: 10%);

$color-background-main: $alabaster;
$color-background-alt: $rolling-stone;

$color-primary-text: $dove-gray;
$color-secondary-text: $hit-gray;
$color-icon: $iron;

$color-button-warning: $thunderbird;

$color-link-text: $picton-blue;

$color-button-primary: $curious-blue;
$color-button-primary-hover: $picton-blue;
$color-button-secondary: #98a4b0;
$color-button-sendary-hover: #c6cdd3;
