@import "/colors";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

ul,
li,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}


a {
  color: $color-link-text;
  text-decoration: none;
  transition: color .24s ease-in-out;

  &:hover {
    color: lighten($color-link-text, 8%);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
