.priceWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;

  & > label {
    font-weight: 500;
    font-size: 24px;
  }
}

.outerWrapper {
  display: flex;
  flex-flow: column;
  text-align: start;
  margin-top: 14px;
  & > label {
    line-height: 1.5;
  }
}

.inputWrapper {
  display: flex;
}

.spin{
  width: 25px;
  height: 30px;
}

.input {
  height: 30px;
  width: 40px;
  text-align: center;
}
