@import "../../styles/colors.scss";

.actions {
  display: flex;
  justify-content: flex-end;
}

.button {
  height: 30px;
  width: 250px;
  background-color: $color-button-primary;

  &:hover {
    background-color: $color-button-primary-hover;
    color: white;
  }
}
