@import "../../styles/colors";

.card {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px;
  }

  &:hover {
    > i {
      color: $color-button-warning;
    }
  }
}

.image {
  width: auto;
  height: 80px;
  border-radius: 4px;
}

.details {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 12px;
  color: $color-primary-text;

  & > h3 {
    margin-bottom: 0;
  }
}

.priceWrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: $color-secondary-text;

  & > label > span {
    color: $color-primary-text;
    font-weight: 500;
    font-size: 18px;
  }
}

.price {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}

.remove {
  position: absolute;
  top: 24px;
  right: 24px;
  color: $color-icon;
  cursor: pointer;
}
