@import "../../styles/colors";

.card {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px;
  }

  &:hover {
    > i {
      color: $color-button-warning;
    }
  }
}

.image {
  width: auto;
  height: 80px;
  background-color: blue;
  border-radius: 4px;
}

.details {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-left: 12px;
  margin-right: auto;
  color: #737171;
}

.price {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}

.remove {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #e0e4e6;
  cursor: pointer;
}
